[2021-06-28 02:50] AVargas89 opened #1 "Ability to set custom <canvas> width and height for better quality"
Hi,
Great component by the way!
Are you able to implement props that will allow custom width/height for the canvas?

We are losing some quality appearance with just the client viewport dimensions being passed.

Thank you.

[2021-06-28 04:12] hrynko commented on #1
Hi @AVargas89,

Thank you, I will try to look into it later today or tomorrow.

[2021-06-29 09:55] hrynko commented on #1
It seems to me that the loss of quality is caused by the scaling of the viewport, so setting a custom canvas width/height doesn't help. Currently, the canvas element inherits the size of its parent, and I find this approach more flexible than setting a specific canvas size with the props. You can set the size of the wrapper as follows, and `vue-pdf-embed` will adjust to fit:

[code]

I see your po

[2021-06-30 10:30] AVargas89 commented on #1
Thank you! This solution worked for now :)

[2021-06-30 12:03] hrynko commented on #1
Anytime! New ideas and issues are welcome.

By the way, the quality loss fix has been released in `1.0.2`

[2021-06-30 12:03] #1 closed

[2021-07-21 09:29] Sonik20 opened #2 "How to view two pages at a time?"

[2021-07-21 15:01] hrynko commented on #2
Hi @Sonik20!

You can add 2 sequential components:

[code]

Or omit the `page` property if the file consists of 2 pages:

[code]

[2021-07-21 15:07] Sonik20 commented on #2
This helps.

I am facing another issue, getting 403 forbidden error in the url of the pdf which is an azure blob, the URL has CORS set still the error.

[2021-07-23 13:44] hrynko commented on #2
If the document has limited access, try loading it manually and providing it as a typed array (see README.md). If CORS is the issue, try adjusting the server config.

[2021-07-26 16:36] thanhhai1999 opened #3 "How to use it for Vue 2?"

[2021-07-26 16:37] #3 closed

[2021-07-27 07:57] hrynko commented on #2
I'm closing the issue since the original question has been resolved. Hopefully, the follow-up question too.

Feel free to open new issues if you need further help.

[2021-07-27 07:57] #2 closed

[2021-07-27 08:49] hrynko commented on #3
Hi @thanhhai1999!

I take it you've already dealt with this issue. But I'll leave a note here for developers who may encounter this problem in the future.

Installation is the same for both Vue 2 and Vue 3 (see [README.md](https://github.com/hrynko/vue-pdf-embed#installation)). You can find 4 files in the `dist` directory of the installed the package:

[code]

Thus, there are different files build

[2021-10-06 13:41] gmlewis opened #4 "Problems loading in Vue3"
Do you have any idea why I might be getting this error from `yarn serve` in my Vue3 app?

[code]

I use the package normally, like this:

[code]

My `package.json` looks like this:

[code]

Thank you!

[2021-10-06 15:22] hrynko commented on #4
Hi @gmlewis,

Thank you for discovering this problem. I will try to fix it as soon as possible, but in the meantime you can use version `1.0.2`:

[code]

[2021-10-06 17:44] #4 closed, assigned to nobody

[2021-10-06 17:54] gmlewis commented on #4
That worked... thank you!

[2022-01-10 01:08] sbourouis opened #5 "Vue3: Importing vue-pdf-embed makes all jest unit tests fail"
Hi,

I'm currently using `vue-pdf-embed: ^1.0.5` and my unit tests are all failing. I have this error:

[code]

Any idea about what could cause this? I've made a small repro here https://github.com/sbourouis/vue-pdf-embed-bug-repro
When we run `yarn test:unit` the test fail and we have the error shown above. (See result [here](https://github.com/sbourouis/vue-pdf-embed-bug-repro/runs/4756272480?ch

[2022-01-10 01:52] sbourouis commented on #5
I've fixed it by mocking `vue-pdf-embed` with jest by mocking it globally
See https://github.com/sbourouis/vue-pdf-embed-bug-repro/commit/2474ee0c6e5f187b3bc13b97079f0d118f7e79be
Tests results https://github.com/sbourouis/vue-pdf-embed-bug-repro/runs/4756292365?check_suite_focus=true

[2022-01-10 01:52] #5 closed

[2022-01-14 15:07] hgoncalves opened #6 "Digital signatures are not rendered"
First of all I would like to thank you for the work done with this component which makes life much easier for displaying pdfs with Vue.

Unfortunately in my use (Vue 2 version) I noticed that it does not display the rendering of digital signatures.

Unless I'm mistaken pdfjs allows it, [pdfjs-vue](https://github.com/Funny002/pdfjs-vue) this component for example does, do you think it would be poss

[2022-01-14 16:53] hrynko commented on #6
Hi @hgoncalves,

Thank you for discovering this. I'll look into it and get back to you with a solution.

[2022-01-17 06:31] hgoncalves commented on #6
Hi @hrynko, thanks, I appreciate ;)

[2022-01-17 08:10] hrynko commented on #6
I just published `1.0.6`, which now has support for digital signatures. Feel free to reopen this issue if it is not fixed.

[2022-01-17 08:10] #6 closed

[2022-02-01 16:44] jacquesmi opened #8 "Checkbox no longuer display as checked"
When displaying a pdf with checkboxes, checked one no longuer display as checked in version 1.0.6.
It was working fine in version 1.0.5.

Steps to reproduce:
1 - Goto this sample vue-pdf-embed : https://jsfiddle.net/n6oa59bu/

2 - Replace version 1.0.5 to 1.0.6 in the script reference, the checkbox "Reading" is no longuer checked in version 1.0.6.

[2022-02-01 17:49] p3v9d5ui opened #9 "Vue-pdf parity?"
Hi,

First off, I'm really glad to see a new Vue component for PDF rendering :-)

I'd like to migrate to this from vue-pdf, but vue-pdf-embed is missing a couple of features I rely on. For my application, I render each PDF page separately (i.e., I iterate through the pages and would have a separate <vue-pdf-embed> for each. For this to work, I need an event which gives me the total pages in the PD

[2022-02-01 20:23] hrynko commented on #9
Hi @p3v9d5ui,

Thank you! I hope that the experience of using `vue-pdf-embed` will not disappoint you.

In `vue-pdf` the `page` property is set to `1` by default, which is pretty weird for me. In contrast, `vue-pdf-embed` renders the entire document if the page property is not explicitly specified. So you don't have to iterate through the document manually. However, if needed, you can still access

[2022-02-01 20:46] hrynko commented on #8
Hi @jacquesmi,

Thank you for discovering this. I'll try to fix it.

[2022-02-01 20:49] jacquesmi commented on #8
Not sure but it may be related to this commit :
https://github.com/hrynko/vue-pdf-embed/commit/2ebeb3e522ea9d05e81aee5ff1288230e40d82b5

[2022-02-02 16:46] hrynko commented on #8
Yes, it's definitely related.

In this commit `PDF.js` was updated to `2.10.377` (to support digital signatures, #6). I tried downgrading `PDF.js` to `2.9.359` and that seems to fix the checkbox issue, keeping support for digital signatures. I'll look into the issue some more, but this might be the solution.

[2022-02-09 10:23] #8 closed

[2022-02-25 14:23] dolbex opened #10 "Safari iOS memory error"
Running into an error when displaying multiple pages on a 4MB PDF.

[code]

I've seen errors like this elsewhere that seem to be addressed: https://github.com/mozilla/pdf.js/issues/11297

I forked this repo and updated the pdf-dist package and that didn't seem to help. Maybe my implementation is incorrect? Anybody run into this?

[2022-02-25 17:42] hrynko commented on #10
At first glance, this looks like a Safari limitation. However, I'll try to find out if it is possible to resolve this within the library later.

[2022-02-28 09:43] #9 closed

[2022-03-01 11:32] p3v9d5ui commented on #9
Hi @hrynko ,

Thank you! I've tested this and it works fine.

I've submitted a small PR: https://github.com/hrynko/vue-pdf-embed/pull/11. This just adds the ability to supply a Uint8Array to the source property. It's just a matter of declaring that type, because otherwise it works fine. Are you able to merge it?

[2022-03-03 15:23] marcusaram opened #12 "Unable to import vue-pdf-embed in Nuxt3 project."
Hi, I'm trying to add vue-pdf-embed in my Nuxt3 project (yes, I know it is still beta). But reaching (hopefully) to the first release candidates. Using v1.1.0

Why trying to use VuePdfEmbed component (locally or globally) it fails on the import. Try to look in the source but couldn't find anything weird. Maybe this is a kind of compiler optimalization.

[code]

For what's worth, this is the part f

[2022-03-03 19:18] marcusaram commented on #12
Sorry, I had to make sure that this is a client library/plugin. It is fixed by creating a plugin with the .client.js suffix.

[2022-03-03 19:18] #12 closed

[2022-03-08 12:47] i-am-xhy opened #13 "examples do not work in firefox"
While the examples work under chromium/webkit, they do not work under firefox.
This partially translates to them not working in real conditions.
Under firefox the pdf does seem to load extremely slowly, but i have not witnessed it triggering rendered, prohibiting any sort of loading implementation

[2022-03-08 14:10] hrynko commented on #13
Could you describe your environment and what kind of issues you are experiencing? So far I haven't been able to reproduce this in Firefox.

[2022-03-08 14:33] i-am-xhy commented on #13
If i open the jsfiddles you have given under examples, under chromium they work fine while under firefox version 91.6.1esr (64-bit) it doesn't.

The slow loading is for the same version. i suspect may have something to do with my usage of the esr version, but i am currently unable to test on a different version. So i'll get back to you once i have had the chance to do that.

[2022-03-10 08:26] hrynko commented on #13
Ok, I guess there should be some of the failure events emitted then (`loading-failed` or `rendering-failed`). Can you log them to the console and provide the output?

[2022-03-10 12:24] damiensauvalle commented on #5
thanks !

[2022-03-11 13:50] i-am-xhy commented on #13
The events never trigger (in jsfiddle), I am still looking into what is actually going on. But it may be monday before i am able to commit further time to investigating.

The problem does seem to have been eliminated for Firefox, so i assume it was something in their most recent version, or maybe a config somewhere.

[2022-03-15 20:26] dcoyt opened #14 "PDF not rendering in Safari"
Hi! First of all, thank you for building this library!

The PDFs are not rendering in Safari Version 15.3 (17612.4.9.1.8) nor iOS.
I tried my implementation, and your fiddle links too: https://jsfiddle.net/hrynko/ct6p8r7k

First I suspected that it was a bug from PDFjs but then I tried their fiddle link https://jsfiddle.net/pdfjs/wagvs9Lf/ and it renders nice.

In both, my implementation and fiddl

[2022-03-16 16:27] hrynko commented on #14
I'm going to have a release ready over the weekend. If you have the desire and capability to prepare a PR before the weekend, please let me know.

[2022-03-22 09:06] myomyintaung1411 opened #19 "how to call local assets pdf"

[2022-03-22 09:39] hrynko commented on #19
Hi @myomyintaung1411,

I'm not sure I get the point. Can you please describe the issue in more detail?

[2022-03-22 10:48] myomyintaung1411 commented on #19
hello sir, Here i want to add source from my assets folder not from api
 <vue-pdf-embed :source="source1" />

[2022-03-22 13:01] hrynko commented on #19
You can use the component as follows if you store `mypd.pdf` in static (public) directory:

[code]

[2022-03-23 08:06] hrynko commented on #19
I hope that helped, and I'm closing the issue. Feel free to reopen it if needed.

[2022-03-23 08:06] #19 closed

[2022-03-30 09:58] hrynko commented on #13
I tested the library in Firefox 98.0 running on Windows 10 (64-bit), and I was unable to reproduce the issue. It worked just as in other environments.

Perhaps there was the same problem as in Safari (#14). A fix for it has been released in `1.1.1`. And I hope it fixes this problem as well. Otherwise, please reopen the issue. Thanks!

[2022-03-30 09:58] #13 closed

[2022-04-04 16:07] deisner opened #20 "Dynamic resize"
Thanks for providing this component. I'm coming from [vue-pdf](https://github.com/FranckFreiburger/vue-pdf) and one feature I miss is dynamic resizing. Would it be possible to implement this?

The workaround I've been using for now is to include [vue-resize-sensor](https://github.com/FranckFreiburger/vue-resize-sensor) as a sibling component, and then using the width of the that component to reset

[2022-04-05 08:43] hrynko commented on #20
To be honest, I didn't intend to allow dynamic resizing since `1.1.0`. Because in this version annotation and text layers were introduced, as well as width and height props, which does not allow to have such responsiveness as it was in `1.0.8` and earlier.

However, I see your point and will consider optional dynamic resizing when width and height are not provided.

PS: Thanks for posting your wor

[2022-04-08 05:10] Beisenbayev opened #21 "Self in not defined in Nuxt.js"
![image](https://user-images.githubusercontent.com/69448982/162368829-8c080acc-3252-4424-8dcc-7d5e22b25d54.png)

[2022-04-08 06:22] hrynko commented on #21
Hi, can you check if your issue has been resolved in 5?

[2022-04-08 12:04] hrynko commented on #21
Hi, can you please check if you can solve the problem as in #12?

[2022-04-09 02:42] Beisenbayev commented on #21
Hi, the author of this issue left a comment about solving the problem, but I don't understand what exactly needs to be done?
https://github.com/hrynko/vue-pdf-embed/issues/12#issuecomment-1058400917

[2022-04-09 03:12] Beisenbayev commented on #21
**Solution:**
1) You have to create a vue-pdf-embed.js file inside the plugins folder in your  project.
  |-plugins
    |-vue-pdf-embed.js

2) In this file import Vue and vue-pdf-embed (_The problem was because of this step. Make make sure about your version of nuxt. If you are using Nuxt3 (vue3) - then import from vue-pdf-embed_)
  vue-pdf-embed.js:
[code]

3) In nuxt.config.js file you have a pl

[2022-04-09 03:14] #21 closed

[2022-04-17 12:30] abdulmlik opened #22 "Inline worker is not supported"
Hey,

i get a "Inline worker is not supported" error
In my project I use "Content-Security-Policy" .
` <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-eval';"
    />`
Is there someone who had a similar problem and solved it?

package version
"vue-pdf-embed": "1.1.1"
"@vue/cli-service": "^4.5.15"
"vue": "^2.6.14",

![image](https://user-images.githubusercon

[2022-04-17 21:49] abdulmlik commented on #22
found the solution This error is showing because there is no "worker-src blob:" policy.
` <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-eval';worker-src blob:"
    />`

[2022-04-17 21:49] #22 closed

[2022-04-18 22:19] EHadoux opened #24 "Sharing source between instances"
Hello,

first, thanks a lot for the component, it's slick.
Like the other fella in #9 I come from a library where pages are displayed one by one. So here I've use a `v-for` around the component with the `:page` prop. So far so good. I'm doing that because I need to decorate each page (checkboxes, etc. around every page, not sure I'm doing it the best way possible though).

However, because the loa

[2022-04-26 17:27] EHadoux commented on #24
Hey, thanks for you response.
Here is what I mean:
![image](https://user-images.githubusercontent.com/1655646/165355778-a6eb3ab1-2cae-4dc0-a62a-f2af14ee6b87.png)

As you can see, each page is decorated with checkboxes and a button. It's not just styling but actual elements.
In order to do that, I iterate across all the pages and display them 1 by 1 with the checkboxes.
[code]
Problem 1: as you can

[2022-04-28 13:16] hrynko commented on #24
I see the problem, thanks for the details.

Could you address the question about memory usage (if it is loaded once for the same sources) in the PDF.js repo? At first glance it doesn't seem that way, but I can be wrong.

[2022-04-28 16:38] zenflow opened #27 "Feature request: Print method"
`vue-pdf` has a public method to bring up browser's print dialog for the PDF: https://github.com/FranckFreiburger/vue-pdf#public-methods

It can be invoked simply:

[code]

My team's project needs this feature to move away from `vue-pdf` which lacks support for both (1) Vue3 and (2) ES Modules / Vite.

What do you think @hrynko ? Would you review/accept a PR to implement this?

[2022-05-05 15:11] mweimerskirch opened #28 "Viewer "crashes" when page and rotation props are changed at the same time"
When the page and rotation props are changed at (more-or-less) the same time, the watchers on those two props cause the render method to be called twice in a row.

The use case that we have is we store page rotation outside of the viewer and when navigating through the pages, we update the page number and rotation according to the page.

Here's a simple test case to reproduce the issue. On load, p

[2022-05-06 08:10] mweimerskirch commented on #28
I published a second PR with an alternative fix.

[2022-05-07 07:24] #28 closed

[2022-05-12 18:34] ChristopherJohnson25 commented on #12
@marcusaram  - do you have a snippet of how you got this to work?

[2022-05-15 11:05] ChristopherJohnson25 commented on #12
@marcusaram - do you have a snippet of how you got this to work?

[2022-05-17 16:06] ekrausso opened #34 "is the original document size data available?"
Hi.. I need to work with the document's original dimensions.. (A4, A3, ...) is this available in px on vue-pdf-embed? I can't find any reference to this.
thank you!

[2022-05-18 12:37] mweimerskirch commented on #34
@ekrausso
The document doesn't have dimensions, but the pages do. Each page can have different dimensions.

You can use the "loaded" event to get an object representing the PDF document and then iterate through the pages. The PDFPage object has a "getViewport" method (https://mozilla.github.io/pdf.js/api/draft/module-pdfjsLib-PDFPageProxy.html). You should be able to deduce the page size from ther

[2022-05-18 12:57] Inusah-Said opened #36 "Getting CORS errors"
Hi, I upload my pdf to my s3 bucket and when trying to assess the url, i get cors errors

[2022-05-18 12:58] Inusah-Said commented on #36
Although the request returns a status code of 200

[2022-05-18 14:20] woolimi opened #37 "Loaded event not exist"
Hello,  @hrynko ! Thanks for making an awsome package 🙏

When I am using your vue-pdf-embed,
I found that `loaded` event is missing.

Could you please fix it ? thx thx

[2022-05-18 15:15] ekrausso commented on #34
hi @mweimerskirch  and @hrynko .. sorry if I didnt make myself clear before... yes I want the page dimensions... also thank you! Im trying what you suggested but I think I'm having the same issue as #37 ... trying to log the value of this event but I'm not getting anything

[2022-05-18 16:44] ChristopherJohnson25 opened #38 "Nuxt3 - throwing "A plugin must either be a function or an object with an "install" function.""
I'm using Nuxt3 and the addon is giving error,

` A plugin must either be a function or an object with an "install" function.`

vue-pdf-embed inpackage.json

`"vue-pdf-embed": "^1.1.1"`

Nuxt3 plugin, vue-pdf-embed.client.js:

`import VuePdfEmbed from "vue-pdf-embed";
export default defineNuxtPlugin((nuxtApp) => {
    nuxtApp.vueApp.use(VuePdfEmbed)
});`

Has anyone had any success with Nuxt3?

[2022-05-18 19:18] hrynko commented on #38
Hi @ChristopherJohnson25,

There is no `install` function in the library, so you should manually register the component as follows:

[code]

[2022-05-18 19:28] hrynko commented on #37
Hi @woolimi,

The `loaded` event has been added, but not yet included in the release. Thus, it is not available in the npm package. I plan to release a new version soon, but if you need it urgently, you can install the library via GitHub.

[2022-05-18 19:30] ChristopherJohnson25 commented on #38
@hrynko - this does not seem to fix the error. I've updated to below and no change.

`import VuePdfEmbed from 'vue-pdf-embed';

export default defineNuxtPlugin((nuxtApp) => {
    nuxtApp.vueApp.use('VuePdfEmbed', VuePdfEmbed)
});`

[2022-05-18 19:34] hrynko commented on #36
Hi, you should try adjusting the CORS rules in the Amazon S3 console.

[2022-05-18 19:36] hrynko commented on #38
Is it the same error?

[2022-05-18 19:41] ChristopherJohnson25 commented on #38
@hrynko  - yes same error.

[2022-05-18 19:43] hrynko commented on #38
Sorry, my bad. Not `use`, but `component`:

[code]

[2022-05-18 19:44] ChristopherJohnson25 commented on #38
Ok - new errrors! Progress, thank you. I will debug - anything else is likely something on my end.

[2022-05-18 19:46] #38 closed

[2022-05-18 19:50] hrynko commented on #38
Excellent. You can look for clues in issues #12 and #21.

PS: Please post your solution if it can be useful to other developers.

[2022-05-18 22:33] Inusah-Said commented on #36
Alright. Thank you very much.

[2022-05-19 15:15] ekrausso commented on #37
Hi @hrynko .. I will try via Github for now thanks... do you have an estimate for the new release by any chance? so sorry to bother you....!

[2022-05-20 06:41] hrynko commented on #37
Hopefully next week.

[2022-05-25 08:44] chjans opened #39 "Current Release missing Rotation Property"
The Current Release 1.1.1 is missing the rotation Property in the vue-pdf-embed.vue.

[2022-05-25 14:35] EHadoux commented on #24
That's amazing, thanks a lot! I'll check that out soon. Cheers 👍

[2022-05-26 09:53] hrynko commented on #24
Changes from @mweimerskirch have been included in `1.1.2`

In this release, a `getDocument` function was also attached to the exported module. So that you can load the PDF document outside the component as follows:

[code]

Hope this helps

[2022-05-26 11:21] hrynko commented on #39
Hi, the rotation property was released in `1.1.2`

[2022-05-26 11:21] #39 closed

[2022-05-26 11:25] hrynko commented on #37
Hi @woolimi @ekrausso

The `loaded` event was released in `1.1.2` and is now available in the npm registry

[2022-05-26 11:25] #37 closed

[2022-05-26 11:27] hrynko commented on #34
I'm closing the issue since the `loaded` event was included in `1.1.2`. Feel free to reopen it if you need more help.

[2022-05-26 11:27] #34 closed

[2022-05-26 11:31] hrynko commented on #27
There is now a `print` method in the version `1.1.2`. It takes an optional print resolution parameter, otherwise it works just as you described.

Thanks for the request!

[2022-05-26 11:31] #27 closed

[2022-05-26 14:02] ekrausso commented on #34
thanks! @hrynko

[2022-05-30 13:59] EHadoux commented on #24
We've tested on our end, and we're not exactly sure about this bit:
https://github.com/hrynko/vue-pdf-embed/blob/c1e20be7a2a45e1ccd0dcc0450b4c71ad65eac25/src/vue-pdf-embed.vue#L165

When packed, all the class names are supposed to be minimised, so I don't think `"PDFDocumentProxy"` actually exists. When we run
[code]
it gives us `e`, the minimised name, so it seems we never end up in the true side

[2022-05-31 08:33] hrynko commented on #24
@mweimerskirch could you take a look at that?

[2022-05-31 09:11] hrynko commented on #20
Hi @deisner,

I once again considered adding this feature, but I'm still leaning towards using third-party libraries or a style approach. After all, this is a library for embedding PDF documents, while there are well-established solutions for tracking resizing, which in turn are very case-specific. I would like to focus on rendering documents in this library and leave it up to developers to decide

[2022-05-31 09:11] #20 closed

[2022-06-01 08:22] zhaoyan42 opened #40 "PDF not rendering in Safari sometimes , NOT every time!"
English is not my first language. First of all , this is very nice PDF viewer project.

I've read about the issue #14 , but it seems not exactly same with that one.

When i tried to use this viewer for a multi-page PDF file , it works find on most of platforms , but iOS.

- Android Edge OK
- Windows Chrome OK
- iOS v14.7.1 Edge/Safari/WeChatBrowser NOT Very Good

I'm using Vue2, the usage is :
[co

[2022-06-01 18:48] hrynko commented on #40
Hi @zhaoyan42,

Thank you for opening the issue, I will try to look into it

[2022-06-02 01:02] zhaoyan42 commented on #40
@hrynko Hi ! I've found a more simple way to reproduce this issue :
[code]
Everything is ok for the first time , but when you refresh the page , there is it

![3f9d940051195c449dad419febdb22b](https://user-images.githubusercontent.com/1796552/171525725-58c99f6b-a0dd-4498-bed0-d320a345f9a4.jpg)

[2022-06-05 10:07] gradox2020 opened #41 "The component is not responsive"
Hello,
First of all, many thanks for the great component.
I only have one problem with that. The component is not responsive.
is it planned to fix this?
i use nuxtjs and not vuejs
Thanks

[2022-06-06 08:46] hrynko commented on #41
Hi @gradox2020,

It isn't planned to make it responsive. It is recommended to use one of the following approaches:

- Some of the resize tracking libs for Vue
- Resize Observer API or `resize` event
- CSS approach from #20 (if you don't need annotation and text layers)

Responsiveness out of the box is not added due to the fact that this is a rather case-specific topic. It is assumed that the deve

[2022-06-06 08:46] #41 closed

[2022-06-06 13:59] zww7821270 opened #42 "how to show the pdf which has chineses font"
I make a pdf, use vue-pdf-embed in vue3 project ,it can not show the pdf which has chineses well, chineses font are all lost.

[2022-06-07 22:49] hrynko commented on #42
Hi @zww7821270,

Could you provide a sample PDF that you are having issues with? So far, I haven't noticed any problems when displaying documents containing Chinese characters.

[2022-06-08 01:39] zww7821270 commented on #42
I send two files, template6.pdf is the template which does not has the values , it is only PDF form input fileds,I use JAVA itext to set values into the form input fileds for make 2206110100101.pdf；
then I use our vue-pdf-embed to show the 2206110100101.pdf, it does not show the value that I set to the input fields, so I create the issus for your help , thank you
&nbsp;(I am not sure if I explaine

[2022-06-08 01:40] zww7821270 commented on #42
ok， I sended to your email，please find

[2022-06-08 14:46] hrynko commented on #42
I couldn't find the message with sample files. But it seems that the problem is the lack of input data, not the display of Chinese characters, right?

[2022-06-08 14:47] hrynko commented on #42
Can you post your anonymized sample files here in `base64`?

[2022-06-08 20:13] nowrap commented on #3
In a typescript vue 2 project it's complaining about the missing ts declaration:
`TS7016: Could not find a declaration file for module 'vue-pdf-embed/dist/vue2-pdf-embed'.`

Can the existing index.d.ts file somehow used for vue 2?

[2022-06-08 23:32] IsraelSistemas opened #44 "How to clean the PDF?"
There's a way to clean the PDF?, for example, I select a PDF and is shown in the component, everything is fine, but when I try to delete the selected pdf, is not cleaned from the component; there's a solution for that?

[2022-06-09 05:33] KC900201 opened #45 "suggestion - add file name parameter () to print() function"
Hi @hrynko ,

I've come across your work vue-pdf-embed and I have a question about the built-in print() function from the library. I use your package to enable file preview of pdf on my work. While I attempt to save the pdf file from the Chrome browser prompt-in print window (I choose 'Save As Pdf' instead of 'Print' as my option), I found that the name of the file about to be saved is different f

[2022-06-11 05:44] X-sirs opened #46 "Type 'unknown' does not satisfy the constraint 'ComputedOptions'"
Found 1 error in node_modules/_vue-pdf-embed@1.1.2@vue-pdf-embed/types/index.d.ts:29

Index signature for type 'string' is missing in type '{}'

line 29   "unknown"

[2022-06-13 01:54] KC900201 commented on #45
Hi @hrynko , any updates on this ticket?

[2022-06-13 02:46] sea-caterpillar commented on #42
I have the same issue in Chromium;
`"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3405.0 Safari/537.36"`

![image](https://user-images.githubusercontent.com/25836014/173270363-7abac861-2f52-49c6-88fb-bd57741db9dc.png)

[template.pdf](https://github.com/hrynko/vue-pdf-embed/files/8887546/template.pdf)

[2022-06-13 10:22] hrynko commented on #45
Hi @KC900201,

Unfortunately, it is not possible to get the original name of the PDF due to internal restrictions. But I can add the suggested `filename` argument to the `print` method, so that to pre-define the name of the file to be saved. I will include this in the next release and let you know when it is available.

[2022-06-13 10:24] hrynko commented on #42
Hi @sea-caterpillar,

Thank you for the sample file, I will check the problem.

[2022-06-13 10:37] KC900201 commented on #45
@hrynko thanks for your prompt response. Okay, will wait for your updates

[2022-06-13 11:08] hrynko commented on #44
In general, a component can only be rendered if the `source` prop is provided. If this prop is missing, an error will occur. So in your case, I recommend conditionally displaying the component until the document is "deleted".

[2022-06-13 11:08] #44 closed

[2022-06-13 19:29] hrynko commented on #46
Hi @X-sirs,

Thank you for discovering the issue. Could you provide details on how it can be reproduced/checked?

[2022-06-14 01:25] X-sirs commented on #46
When i ran the command "vue-tsc --noEmit && vite build",it threw that error and exit.  The typescript version is 4.7.3.

[2022-06-14 09:24] hrynko commented on #42
I checked the provided file and couldn't reproduce the issue. Please see [Fiddle](https://jsfiddle.net/hrynko/5n2ycpt8/).

Could you provide more details on which environment/versions you are using? Or maybe provide a JSFiddle/Codesandbox/etc to demonstrate the issue?

[2022-06-14 10:04] sea-caterpillar commented on #42
@hrynko
The problem still exists using your example；

![image](https://user-images.githubusercontent.com/25836014/173549279-9720a2f0-d632-4046-91ab-fbddc6ca83be.png)

Browsers version
`"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3405.0 Safari/537.36"`

[2022-06-14 10:56] hrynko commented on #42
Hmm, looks very browser/system specific. I tried a few but could never reproduce. Do you experience any font issues outside the library?

[2022-06-15 09:42] sea-caterpillar commented on #42
No;

But I  found the `Word to PDF` applications affected me;
WPS Office: ❌
PDF Candy: ✔

[2022-06-15 12:55] hrynko commented on #42
Sorry, I don't get it. What do you mean by "affecting" you?

[2022-06-16 00:49] sea-caterpillar commented on #42
Under the same browser version,  the fonts of PDF files exported by WPS Office will be lost, but the fonts of PDF files exported by PDF Candy are normal.
I found it by accident. I don't know why.

[bad.pdf](https://github.com/hrynko/vue-pdf-embed/files/8914634/bad.pdf)
[good.pdf](https://github.com/hrynko/vue-pdf-embed/files/8914635/good.pdf)

[2022-06-16 07:24] hrynko commented on #42
I don't know why either 🙂

I have both documents displayed without any problems

[2022-06-16 07:25] KC900201 opened #49 "Reference error when attempting to rotate pdf"
Encountered error below when attempting to update the value of **rotation** in vue-pdf-embed

Currently using vuejs version 2.* for the project

![image](https://user-images.githubusercontent.com/46585072/174015111-958f5d12-d6f9-4229-9dfe-113635c76ddf.png)

Below are the code snippets:

![image](https://user-images.githubusercontent.com/46585072/174015478-12a39ce9-7e73-4936-90be-fd5747ae0f37.png)

[2022-06-16 07:39] sea-caterpillar commented on #42
Thank you for your reply, I will check the reason later

[2022-06-16 07:45] hrynko commented on #49
Hi @KC900201,

At first glance, it looks like a typo `this -> his`, but it is not clear where it happened. Could you maybe prepare a sample project in JSFiddle/CodeSandbox/etc to demonstrate this issue?

[2022-06-17 06:39] KC900201 commented on #49
Hi @hrynko,

It could be a glitch when handling the function, as the error occurs spontaneously. Anyhow, I will try to update in this thread and provide the code snippet possibly. For now, I will close this thread.

[2022-06-17 06:39] #49 closed

[2022-06-20 09:37] hrynko commented on #3
UPD: This is no longer needed, since `1.1.3` there are two separate typings (for Vue 2 and Vue 3).

[2022-06-20 09:37] hrynko commented on #45
UPD: This was released in `1.1.3`

[2022-06-20 09:37] #45 closed

[2022-06-20 09:39] hrynko commented on #46
Ok thanks, a fix for this was included in `1.1.3`

[2022-06-20 09:41] #24 closed

[2022-06-20 10:01] hrynko commented on #10
Hi @dolbex,

In version `1.1.3`, a fix for [canvas utilization](https://pqina.nl/blog/total-canvas-memory-use-exceeds-the-maximum-limit/) was released. This can solve the single page view (when `page` prop is provided), but there may still be an issue with displaying the entire document. However, I will try to implement lazy loading (rendering) to solve this issue by the next minor version, as I s

[2022-06-20 10:01] #10 closed

[2022-06-20 10:04] hrynko commented on #40
Hi @zhaoyan42,

I expect this to be the same as #10. In version `1.1.3`, a fix was released that may partially solve this problem.

[2022-06-20 10:42] zhaoyan42 commented on #40
I've tried version 1.1.3 in vue 2
[code]
But I got this error
![image](https://user-images.githubusercontent.com/1796552/174583197-3a2739b5-b043-425e-a508-e7c9dc8543eb.png)
Then I seek the js file
![image](https://user-images.githubusercontent.com/1796552/174583698-75ff2060-0e68-450b-993f-da53dc09f311.png)

reinstall v1.1.2 , no error. Is it some problem about webpack or ES Version ?

[2022-06-20 20:24] fabiovaz opened #51 "Error just instaling in nuxt2 project"
ERROR  Failed to compile with 1 errors                                                                                               friendly-errors 17:19:28
 ERROR  in ./node_modules/vue-pdf-embed/dist/vue2-pdf-embed.js                                                                        friendly-errors 17:19:28

Module parse failed: Unexpected token (1:529323)

[2022-06-21 00:04] hanns2002 commented on #51
me too, with vue3-pdf-embed.js same error on version 1.1.3

[2022-06-21 00:58] KC900201 commented on #49
@hrynko Found the Unreferenced error is due to wrong labelling of my coding. So, I will close this tix permanently

[2022-06-21 11:55] hrynko commented on #40
Hi @zhaoyan42,

Yes, there was a transpiling issue. It is now fixed in `1.1.4`. Thanks for noticing.

[2022-06-21 11:57] hrynko commented on #51
Hi @fabiovaz @hanns2002,

There was a transpiling issue in `1.1.3`. It is now fixed in `1.1.4`.

Thanks for noticing!

[2022-06-21 11:57] #51 closed

[2022-06-21 14:42] baccadiginepro commented on #14
Hi! I'm facing this issue even if updated the package to v. 1.1.4
The error in console is: Error: Invalid page request
Safari version: 15.5

[2022-06-30 11:34] zhaoyan42 commented on #40
@hrynko Thank you . The 1.1.4 did resolved is issue . But some how , It may need some tricks :

This is a tryout page:
![image](https://user-images.githubusercontent.com/1796552/176662663-7eebf247-d179-4082-8d97-147b5a040505.png)

### **In EVERY OS / Browser !!!** including windows / ios / Android / Edge / Chrome / Safari .
If switch between files quickly , for example switch by v-if indexNumber /

[2022-06-30 19:53] stan-tba opened #52 "Can't reduce canvas resolution to avoid iOS limit"
iOS Error:
Canvas area exceeds the maximum limit (width * height > 16777216).

[2022-07-01 14:06] anonimQwerty opened #54 "ReferenceError: self is not defined"
ReferenceError: self is not defined
    at Object.<anonymous> (D:\site\node_modules\vue-pdf-embed\dist\vue3-pdf-embed.js:1:252)
    at Module._compile (node:internal/modules/cjs/loader:1099:14)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:1153:10)
    at Module.load (node:internal/modules/cjs/loader:975:32)
    at Function.Module._load (node:internal/modules/cjs/loader:82

[2022-07-04 10:55] hrynko commented on #42
Hi @sea-caterpillar,

I'm closing the issue as it is not clear if anything needs to be fixed there, although I would appreciate if you reopen it when you have more details, thanks.

[2022-07-04 10:55] #42 closed

[2022-07-04 12:47] hrynko commented on #54
Hi @anonimQwerty,

I assume this to be a duplicate of one of those: #12 or #21. Please reopen if it is not.

[2022-07-04 12:49] hrynko commented on #40
Thanks for sharing a workaround, I will prepare a fix.

[2022-07-04 13:01] zhaoyan42 commented on #40
By the way , the PDF file has about 13 pages .

[2022-07-06 03:05] pandaiiz opened #55 "update pdf-dist version to fix pdf distortion"
here is my pdf when i use v1.1.4 vue-pdf-embed,with "pdfjs-dist": "^2.9.359",
![image](https://user-images.githubusercontent.com/25072780/177458909-7fe28a10-5ecd-4d24-86f8-235b12edb6e4.png)

and i clone your code and update pdfjs-dist version to "pdfjs-dist": "^2.14.305", my pdf document display correctly!
![image](https://user-images.githubusercontent.com/25072780/177459214-240ce402-fdf9-4544-a42

[2022-07-07 09:46] #52 closed

[2022-07-08 13:03] #55 closed

[2022-07-11 03:56] DescLee opened #58 "Props `scale` not working"
Props `scale` not working in latest version 1.1.4, may be  it is not published yet?

[2022-07-11 07:17] DescLee commented on #58
已收到您的邮件，会尽快进行处理

[2022-07-11 15:34] fabiiomiiguel opened #59 "Expose a function to cancel rendering job in worker"
Hello, first of all thank you for your amazing package.

My feature request is because, I use a modal with your pdf viewer, and some times if we are too quickly the worker doesn't stop is previous rendering  job.
So if we close while its still rendering and re-open immediately after. The package will throw an error and then we need to close and re-open again to make it work.

So maybe it would be

[2022-07-13 15:56] AndrewStoddard opened #60 "IE 11 issue"
I am trying to use this to view pdfs in an IE 11 environment, however, I am receiving a SCRIPT 1002 error. When I follow the link to the chunk venders, this is the code that seems to be causing the issue.

![image](https://user-images.githubusercontent.com/49331341/178776829-2f1575c8-706c-4f78-9b3e-005befba70ec.png)

I believe the issue to be the lambda function not transpiling to ES5, but have no

[2022-07-14 12:54] valentinhttr opened #61 "[Feature] Advanced Highlighting"
Hi,

I want to do extensive highlighting on the text of my PDF and not all the features are supported by pdfjs-dist.

I would like to add as an option the possibility to have a search with :

- diacritics insensitive (unsupported), case insensitive (supported), entireWord search (supported)
- several words to search, e.g. "alex" and "alice (unsupported)

The first solution I propose would be to ad

[2022-07-14 14:32] valh1996 commented on #61
Maybe we can take inspiration from this: https://github.com/EvolutionJobs/pdf-viewer/blob/master/pdf-viewer-page.ts

[2022-07-15 12:53] lianee opened #62 "Import in browser Vue 3 version"
Using `<script src="https://unpkg.com/vue-pdf-embed"></script>` to load the script for vue 3 in browser gives the following error:

`Uncaught TypeError: Cannot read properties of undefined (reading 'createVNode')`

Could you please update the jsfiddle examples to work with Vue 3?

update: checking with various versions, the last one working seems to be 1.0.8

[2022-07-17 14:33] hrynko commented on #60
Hi @AndrewStoddard,

I doubt I can help fix your build, since I don't know your environment. Also, I assume that this problem is not related to the library. Please reopen the ticket if this is the case.

[2022-07-17 14:33] #60 closed

[2022-07-17 14:38] hrynko commented on #61
Hi @valh1996,

Do you think updating PDFJS to [2.13.216](https://github.com/mozilla/pdf.js/releases/tag/v2.13.216) would cover the diacritics insensitive search problem ([check this PR](https://github.com/mozilla/pdf.js/pull/13261))? As for "several words to search", I'm not sure how this is supposed to work.

[2022-07-18 08:25] valh1996 commented on #61
Hi @hrynko,

Yes I think it would be perfect for the diacritics. However, how to access the `pdfFindController` to execute a `find` with your package?

I think it should be possible to do it via the `ref`, like :
[code]

As for the "several words to search", the problem is that if I run the above `find` with the word "Alice", and then re-run it with the word "Alex", then it will overwrite all prev

[2022-07-20 12:40] hrynko commented on #61
I've tried exposing something like the following, with no success so far:

[code]

I'm not sure if this will work outside of `PDFViewer` yet, but if you could continue this experiment, I would appreciate a PR.

[2022-07-22 17:42] valh1996 commented on #61
Yes, that's what I had quickly tried, but I think it can't work since you don't use a default viewer. I don't really know how to proceed in this case.

[2022-07-23 09:56] hrynko commented on #61
I expected that not using the viewer component could be more flexible and predictable, although it would have some limitations.

It might be, but it would require additional refactoring of the component and could lead to unexpected side effects. So if it can be done without using a viewer, I would do it like this. Otherwise, I would postpone it until the next minor release.

[2022-07-23 10:05] hrynko commented on #59
Hi @fabiiomiiguel,

According to the description it looks very similar to [this one](https://github.com/hrynko/vue-pdf-embed/issues/40#issuecomment-1171107732). This has already been fixed but not released.

[2022-07-24 11:40] fabiiomiiguel commented on #59
Yes maybe it's related, when you release that version, I would let you know if that solves my question.

[2022-07-26 09:53] valh1996 commented on #61
I tried an alternative solution to make the highlight when rendering the textlayer since we get the text with the exact position. But we lose all the advantages of the PDFFindController.

So, after trying several things, I can't get a conclusive result if you can help me on this please?

[2022-07-26 11:13] chenbin134 opened #63 "How to render the waterMark?"
thanks for your plugin.
i have a question,
my PDF has some waterMark,but can't be rendered.
What should I do?

[2022-07-27 09:29] hrynko commented on #61
I'm having issues updating PDFJS, so I'd like to resolve them first. Will have another look at the highlighting issue afterwards.

[2022-07-27 09:36] hrynko commented on #63
Hi @chenbin134,

I checked several watermarked PDFs but wasn't able to reproduce. Would you be able to prepare an example that reproduces the issue?

[2022-07-28 06:38] chenbin134 commented on #63
@hrynko Hi,On that question,you use this PDF file : https://ts.midbj.com/evidence_integration/Fulltext-sample.pdf
that will reproduces the issue
![截屏2022-07-28 下午2 36 44](https://user-images.githubusercontent.com/41474653/181437482-ec2cfc46-19da-4ab5-baff-d9fa818721a3.png)

[2022-07-28 08:31] jopicornell opened #64 "Incompatibility with Vite and @ionic/vue (isFunction is not a function)"
I'm encountering the same problem as [this discussion](https://github.com/hrynko/vue-pdf-embed/discussions/43), but I've been able to narrow it down in [this reproducible project](https://stackblitz.com/edit/vitejs-vite-khyrve?file=src/main.ts) to an incompatibility between this library, @ionic/vue and vue-router.

[Here](https://github.com/ionic-team/ionic-framework/issues/24800#issuecomment-1042

[2022-07-29 12:23] hrynko commented on #64
Hi @jopicornell,

Thank you for providing the Stackblitz project. Now I see the issue and I see that it is not in Vite, but in Vite+Ionic. Also the explanation in the Ionic repo looks relevant, will try to figure it out.

[2022-08-03 02:08] empty-back opened #65 "base64 PDF source error"
pdf 加载失败 ReferenceError: structuredClone is not defined

Warning: Error during font loading: The CMap "baseUrl" parameter must be specified, ensure that the "cMapUrl" and "cMapPacked" API parameters are provided.

[2022-08-03 03:41] time202051 opened #66 "How do I get the total number of pages in a PDF"
How do I get the total number of pages in a PDF

[2022-08-03 08:24] bogdan12893 commented on #66
They have an example in the docs 😁
[code]

[2022-08-03 08:40] bogdan12893 commented on #58
@hrynko Can you help me with the scale prop. I cant figure out how to work with it. I tried setting it to `:scale="20"` for example. This is supose to zome in/out, right?

[2022-08-03 08:40] DescLee commented on #58
已收到您的邮件，会尽快进行处理

[2022-08-03 09:50] #65 closed

[2022-08-03 16:45] hrynko commented on #58
Not really, it represents the ratio of canvas size to document size. So it is more about optimization, you can adjust it based on your canvas size if you need to optimize the memory usage (the larger `scale` value, the better image quality, the more memory usage).

This prop has an automatic value, so you don't have to use this prop unnecessarily. And to implement scaling, I would suggest consider

[2022-08-03 16:57] hrynko commented on #66
@bogdan12893 thanks for your comment!

Another option would be to use the `loaded` event value (there will be a `numPages` property inside)

[2022-08-03 16:57] #66 closed

[2022-08-04 08:59] nickxgrom opened #67 "Method `print` send only current page to print"
Hi, @hrynko
If we're in pagination-mode, like `<vue-pdf-embed :page="page"` and call `print` method, then it will printed only current page
Is there is way to print whole pdf, even we're looking one page?

[2022-08-04 12:43] hrynko commented on #67
Hi @nickxgrom,

As a workaround, you can render an "invisible" component in the meantime without a `page` prop. Also, I will consider updating the `print` method for this case. Thanks!

[2022-08-05 17:33] veerman72 opened #68 "Feature request: Download method"
Is there a possibility to create a public method (like the print() method) for direct downloading the rendered pdf.

[code]

I make use of a source like ``data:application/pdf;base64,<BASE64_ENCODED_PDF>`` to render the pdf.

[2022-08-08 08:02] hongjunlong opened #69 "I want to add a loaded animation when using link loading"

[2022-08-08 08:02] hongjunlong opened #70 "I want to add a loaded animation when using link loading"
I want to add a loaded animation when using link loading

[2022-08-08 08:03] #69 closed

[2022-08-09 06:37] tomhoma commented on #70
you can use component from ui framework like this
[https://www.antdv.com/components/spin](url)

[2022-08-09 07:44] hongjunlong commented on #70
However, Vue PDF is responsible for loading files when using links. I cannot add spin at the beginning and end

[2022-08-09 07:45] hongjunlong commented on #70
I am now requesting Base64 and adding animation

[2022-08-09 09:36] hrynko commented on #70
Thanks for the suggestion @tomhoma!

However, I would suggest to convert this issue to [discussion](https://github.com/hrynko/vue-pdf-embed/discussions), as it doesn't refer directly to the library, but rather to its application.

It also depends on whether you are displaying all pages at once or page by page. Please provide more details when opening a discussion. Thanks!

[2022-08-09 09:36] #70 closed

[2022-08-09 09:44] hrynko commented on #68
Hi @veerman72,

Thanks for sharing your idea, I think it might be helpful in some cases. However, it seems to me that this does not quite fit into the concept of the library. It still seems to me that manipulations with this file should be done on the developer's side, since the file is provided by the developer.

[2022-08-09 09:44] #68 closed

[2022-08-09 10:41] hrynko commented on #68
Though I can be wrong and you should post your idea in the [discussions](https://github.com/hrynko/vue-pdf-embed/discussions/categories/ideas)

[2022-08-09 12:19] veerman72 commented on #68
I posted the idea in the discussions section (#71 )

[2022-08-09 13:46] calvinkehl opened #72 "Build Error: Type 'VuePdfEmbedMethods' does not satisfy the constraint 'MethodOptions'."
When I try to build my project I get the following error message:
[code]
Using the latest release version.

[2022-08-09 15:27] hrynko commented on #72
Hi @calvinkehl,

Could you provide more details on your environment (Vue version, etc.)?

[2022-08-10 05:59] calvinkehl commented on #72
Hey @hrynko, of course! Here is a excerpt of my package.json:
[code]

[2022-08-10 16:52] hrynko commented on #67
I updated the `print` method signature so that `page` prop can now be overridden (see 9eaa57a)

Will include this in the next release if it works for you

[2022-08-10 22:26] ekrausso opened #73 "rendering issue"
Hi @hrynko .. I'm having some issues rendering a pdf with source in base64 format.  When I inspect the vue-pdf-embed element it says `height: 0` even if I define the height prop... using `width="1000"`.  Also it's only rendering one page, this sample pdf has 2 pages.

![image](https://user-images.githubusercontent.com/100789949/184030413-2188a0d6-bbc1-4cf1-b991-4327a03396a7.png)

I thought it coul

[2022-08-10 22:59] ekrausso commented on #73
I just found the problem and it was some css in a global file.. Closing the issue

[2022-08-10 22:59] #73 closed

[2022-08-11 09:04] hrynko commented on #72
Please let me know if I can assist you somehow

[2022-08-12 12:21] calvinkehl commented on #72
Thanks for your help! It seems like your solution fixed the problem. As I haven't checked out the code, can you please create the PR?

[2022-08-13 07:23] hrynko commented on #72
Would you maybe be available for opening a PR? It's only about updating `types/vue3-pdf-embed.d.ts`

[2022-08-15 06:06] manthanawat1 opened #77 "Some character is lost"
I've noticed some lines of pdf are missing because The letters are not thick.

[2022-08-22 07:38] nullhan commented on #58
So what you mean is to change the width of the parent element of the canvas to implement the scaling function, for example using transform:translateZ(0) scale(10)

[2022-08-22 07:39] DescLee commented on #58
已收到您的邮件，会尽快进行处理

[2022-08-22 11:49] minzdrav opened #78 "Examples doesn't work"
Hi Dev Team
This is amazing library! Thank you!

Examples doesn't work. Please look at screenshot. I've tested in brave and microsoft edge. Both chromium based.
![image](https://user-images.githubusercontent.com/1764392/185914153-b6a65958-5b01-4a90-b1fc-b74ced2f28d3.png)

[2022-08-22 11:51] minzdrav commented on #78
Browser console output
![image](https://user-images.githubusercontent.com/1764392/185914679-85fa15e1-ddf9-4d69-a8cd-43e7d3dd2bbe.png)

[2022-08-24 03:16] satcon opened #80 "Error during font loading: The CMap "baseUrl" parameter must be specified, ensure that the "cMapUrl" and "cMapPacked" API parameters are provided."
Error during font loading: The CMap "baseUrl" parameter must be specified, ensure that the "cMapUrl" and "cMapPacked" API parameters are provided.

[2022-08-26 20:30] MarsOrBust24 commented on #41
I think a default component level solution should be used... like vue-pdf used to do. Without it the advanced example looks broken.

Here's my solution:
[code]

[2022-08-27 00:28] FossPrime opened #82 "HMR support broken"
For some reason every time the parent component is HMR updated, vue-pdf-embed refuses to load the document. As if it has a memory that it already loaded it, but hasn't actually.

To reproduce just make a one line script change, white space works. Vite will then HMR your component and the pdf will not load, despite having a valid URL.

My workaround is to use an objectUrl as source...

[code]

<img

[2022-08-29 10:00] #72 closed

[2022-09-01 08:12] jopicornell commented on #64
Hi @hrynko !

Have you found something relevant to fix this issue? I can help you if necessary, but I can't find the real problem. I'll give it another look in case I feel inspired and find it.

[2022-09-01 09:01] TLovers commented on #58
em~~~~~ scale not working

[2022-09-01 09:08] hrynko commented on #64
Honestly, I'm too busy with other projects right now and haven't had enough time to dive into this issue. But the discussion from the Ionic repo looks very much like this case. The main point there is having 2 instances of Vue because of `require('vue')` in the bundle. I assume this can be solved by adjusting the Webpack config (see [externals](https://webpack.js.org/configuration/externals/)).

I

[2022-09-01 11:48] dougieled opened #84 "Possibility of adding Slots."
Wondering is it possible to add slots into the vue-pdf-embed.vue. I still need to test out which would be best but possibly an option of having a slot inside and outside of the v-for.

Currently using a wrapper over the top of the vue-pdf-embed which highlights text based on the position of text using textract positioning geometry. However only one page will work at a time. Would possibly be more

[2022-09-12 07:24] jopicornell commented on #64
Hello,

Thank you for your reply. I've been doing some tests, and I've come to a dead end. In webpack.config.js there's a `externals: { vue: 'vue' }` , which should be enough. The problem is that vue-loader v16 seems to ignore that and is using `require('vue')` in the compilated file. I've tried to update vue-loader to v17 for Vue 3, but seems like they have a problem in their compilated code and

[2022-09-21 01:21] zhangxiang0316 commented on #80
// pdfSource: '../src/2.pdf',
pdfSource: {
        url: '../src/2.pdf',
        cMapUrl: 'https://cdn.jsdelivr.net/npm/pdfjs-dist@2.16.105/cmaps/',
        cMapPacked: true,
      },

[2022-09-21 08:40] #67 closed

[2022-09-25 16:31] noah1234j commented on #84
Hi dougieled,

Could you possibly share your code on how you are tackling this? I have a use case and am curious.

[2022-09-25 16:38] noah1234j opened #86 "Feature Request: Add Search Highlight functionality"
It would be great if there was an optional search highlight functionality such as is used in this.

https://github.com/AlbertLucianto/vue-text-highlight
https://www.npmjs.com/package/vue-text-highlight

Would love to make a donation to see this happen.

Thanks,
Noah

[2022-10-05 12:13] campions opened #89 "Error for CSP, unsafe-eval error."
I am using the last version for vue-pdf-embed and I have an error for CSP, the error is unsafe-eval.

Someone else encountered this error?

[2022-10-06 10:40] #89 closed

[2022-10-06 10:58] Diana5 opened #90 "Bug/Security: usage of 'eval' function is blocks pdf rendering when CSP is enabled"
PDF cannot be previewed due to the usage of `eval` function when enabling Content Security Policy with script-src 'self'.
In order to overcome this issue `unsafe-eval` has to be added, but this would only increase security vulnerabilities.

vue-pdf-embed - 1.1.2
vue - 3.2.31
Browser - Firefox/Chrome

[2022-10-14 02:43] 578838516 opened #91 "[nuxt] [request error] [unhandled] [500] self is not defined"
I introduced error in nuxt3 rc 11

[nuxt] [request error] [unhandled] [500] self is not defined
  at Object.<anonymous> (./node_modules/vue-pdf-embed/dist/vue3-pdf-embed.js:1:252)
  at Module._compile (node:internal/modules/cjs/loader:1105:14)
  at Object.Module._extensions..js (node:internal/modules/cjs/loader:1159:10)
  at Module.load (node:internal/modules/cjs/loader:981:32)
  at Function.Modul

[2022-10-27 08:02] Krue1 commented on #58
same here

[2022-10-27 08:03] DescLee commented on #58
已收到您的邮件，会尽快进行处理

[2022-10-27 13:28] blakeyi opened #92 "the pdf cant display in production mode when exce npm run build:prod"
1.its behave well in develop env, but occur error in production env which is  "Warning: DocException - expected a valid Error."

the whole code as follow:
[code]

[2022-11-06 21:17] #78 closed

[2022-11-08 10:26] hrynko commented on #58
It's been a while, but `scale` prop is now included in `1.1.5`. Sorry for delay.

[2022-11-08 10:26] #58 closed

[2022-11-08 10:29] hrynko commented on #59
It's been a while, but it's released in `1.1.5`

Feel free to reopen this issue if it's not fixed

[2022-11-08 10:29] #59 closed

[2022-11-08 10:33] hrynko commented on #40
A fix has been released in `1.1.5`, hope it helps

[2022-11-08 11:10] AmmarMohamadIsmaeel opened #93 "Scale Props is not working"

[2022-11-08 11:16] AmmarMohamadIsmaeel commented on #93
Using The Scale Props is making the PDF Blurry

[2022-11-09 16:21] zhaoyan42 commented on #40
Thanks ,I've tested using this scenrio : switch between 2 file

These codes works fine.
[code]

but these codes still has problems sometimes
[code]

Anyway, I think create a pdf-viewer frequently is a very very bad idea. so problem resolves! thank you again.

[2022-11-17 05:19] chao-lyu commented on #93
same problem with `scale` props

[2022-11-21 14:23] kargonerd opened #94 "can we allow send cmap url to the component?"
some pdf with Chinese font need to set cmap url when getDocument to display

[2022-11-25 10:09] samul-1 opened #95 "Add Authorization headers to URL-based pdf fetching"
Great package!

I know vue-pdf-embed supports password-based authentication to access pdf's from a url, but I there's no way to provide token-based authorization.

I see that internally you call pdfjs' `getDocument` function, which does accept custom headers: https://github.com/mozilla/pdf.js/issues/3852#issuecomment-373169304

Is there any chance a prop could be added to vue-pdf-embed to pass cus

[2022-11-26 11:38] hrynko commented on #93
Hi @AmmarMohamadIsmaeel,

The `scale` prop represents the desired ratio of canvas size to PDF document size. It is set optimal by default, but can be changed it to suit your needs. The ratio should be re-evaluated if the document becomes blurry.

[2022-11-26 11:38] #93 closed

[2022-11-28 08:06] hrynko commented on #95
Hi @samul-1,

Since the `source` prop can be an object and is passed directly to the `getDocument` function, you can pass the `DocumentInitParameters` as follows:

[code]

[2022-11-28 08:06] #95 closed

[2022-11-29 20:37] hrynko commented on #80
Thanks @zhangxiang0316! It seems to be the answer 👍

[2022-11-29 20:37] #80 closed

[2022-11-29 20:39] hrynko commented on #94
I guess this should be fixed by providing proper CMap. Please check #80, otherwise reopen the issue.

[2022-11-29 20:39] #94 closed

[2022-11-29 20:41] hrynko commented on #77
I guess this should be fixed by providing proper CMap. Please check #80, otherwise reopen the issue and provide the code snippet for reproduction.

[2022-11-29 20:41] #77 closed